<html>
   
<style>


</style>
<script>


</script>
        <h1> ANEMIA DETECTION </h1>
        
        <form method="POST", action="{{url_for('home')}}">
            <input type="submit" , value='predict!' >
        </form>

        <img src='file:///C:/Users/PC/Desktop/deploy-ml-model-flask-master/static/flower1.jpg' alt="flower">
        <img src='file:///C:/Users/PC/Desktop/deploy-ml-model-flask-master/static/flower1.jpg' alt="flower">
        <img src='file:///C:/Users/PC/Desktop/deploy-ml-model-flask-master/static/flower1.jpg' alt="flower">
        <img src='file:///C:/Users/PC/Desktop/deploy-ml-model-flask-master/static/flower1.jpg' alt="flower">
        
    </center>

    </body>
</html>
